* {
  margin: 0;
  padding: 0;
  outline: 0;
}

section{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
  background-size: 400% 400%;
  position: relative;
  animation: animate 7.5s ease-in-out infinite;
  overflow-y: hidden;
}

@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}



.side{
  text-align: center;
  height: 45vh;
}

.side > img{
  height: -webkit-fill-available;
  max-height: 45vh;
  margin: 0 10px;
}

.statusBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin:0px 15px;
  font-size: 2.3rem;
  font-family: monospace;
}

.score{
  display: flex;
  align-items: center;
  gap: 15px;
}

#resetBtn{
  background: lightgrey;
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 1px 3px 5px black;
  cursor: pointer;
}

#resetBtn:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#playerSide > img {
  transform: rotate(180deg) translateY(-6rem);
  transition: .5s;
}

#playerSide > img:hover {
  transform: rotate(180deg) translateY(-4rem);
  cursor: pointer;
}

#playerSide > img.active {
  transform: rotate(180deg) translateY(0);
}

#pcSide > img{
  transform: translateY(-6rem);
  transition: .5s;
}

#pcSide > img.active{
  transform: translateY(0);
}





.Rock{
  background-image: url(Images/rock-NoBG.png);
}

.Paper{
  background-image: url(Images/paper-NoBG.png);
}

.Scissors{
  background-image: url(Images/scissors-NoBG.png);
}

